# Cleaning bollywood_movies

In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 14.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 17.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 KB 26.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [67]:
import pandas as pd

In [68]:
df = pd.read_csv("Downloads/movies_data/bollywood_movies.csv")

In [69]:
from io import StringIO

In [70]:
print("Initial Data Snapshot:")
print(df.head())
print("\nMissing Values:")
print(df.isnull().sum())

Initial Data Snapshot:
   Unnamed: 0  index MovieID                         Title  \
0           0      0  MOV001                        Lagaan
1           1      1  MOV002   Kabhi Khushi Kabhie Gham...
2           2      2  MOV003  M.S. Dhoni: The Untold Story
3           3      3  MOV004   Baahubali 2: The Conclusion
4           4      4  MOV005               Chennai Express

             Director                      Genre  ReleaseYear  \
0  Ashutosh Gowariker                        NaN         2001
1         Karan Johar               Family Drama         2001
2       Neeraj Pandey  Biographical Sports Drama         2016
3     S. S. Rajamouli        Epic Fantasy Action         2017
4        Rohit Shetty              Action Comedy         2013

   Budget (Crores)  BoxOffice (Crores)  Rating  Duration (minutes)  \
0              NaN               100.0     8.1                 224
1             50.0               100.0     7.9                 210
2              NaN               215.0     7.9                 184
3            250.0              1810.0     8.2                 171
4              NaN               423.0     6.4                 141

              LeadActor       LeadActress Language           ProductionCompany
0            Aamir Khan       Gracy Singh    Hindi      Aamir Khan Productions
1        Shah Rukh Khan             Kajol    Hindi          Dharma Productions
2  Sushant Singh Rajput      Kiara Advani    Hindi            Fox Star Studios
3               Prabhas    Anushka Shetty   Telugu            Arka Media Works
4        Shah Rukh Khan  Deepika Padukone    Hindi  Red Chillies Entertainment

Missing Values:
Unnamed: 0             0
index                  0
MovieID                0
Title                  0
Director               0
Genre                  1
ReleaseYear            0
Budget (Crores)       12
BoxOffice (Crores)     9
Rating                 0
Duration (minutes)     0
LeadActor              0
LeadActress            0
Language               0
ProductionCompany      0
dtype: int64

In [71]:
numeric_cols = ['Budget (Crores)', 'BoxOffice (Crores)', 'Rating', 'Duration (minutes)']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [72]:
for col in numeric_cols:
    median_val = df[col].median()
    df[col] = df[col].fillna(median_val)

In [73]:
df['Language'] = df['Language'].str.extract(r'(\w+)', expand=False)

In [74]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip()

In [75]:
df.drop_duplicates(inplace=True)

In [76]:
df.reset_index(drop=True, inplace=True)

In [77]:
print("\nCleaned Data:")
print(df.head(10))

Cleaned Data:
   Unnamed: 0  index MovieID                         Title  \
0           0      0  MOV001                        Lagaan
1           1      1  MOV002   Kabhi Khushi Kabhie Gham...
2           2      2  MOV003  M.S. Dhoni: The Untold Story
3           3      3  MOV004   Baahubali 2: The Conclusion
4           4      4  MOV005               Chennai Express
5           5      5  MOV006                        Bharat
6           6      6  MOV007                        Dangal
7           7      7  MOV008                Sarkar (Tamil)
8           8      8  MOV009                            PK
9           9      9  MOV010                   2.0 (Tamil)

             Director                             Genre  ReleaseYear  \
0  Ashutosh Gowariker                               NaN         2001
1         Karan Johar                      Family Drama         2001
2       Neeraj Pandey         Biographical Sports Drama         2016
3     S. S. Rajamouli               Epic Fantasy Action         2017
4        Rohit Shetty                     Action Comedy         2013
5     Ali Abbas Zafar                             Drama         2019
6       Nitesh Tiwari         Biographical Sports Drama         2016
7    A. R. Murugadoss                   Action Thriller         2005
8     Rajkumar Hirani  Satirical Science Fiction Comedy         2014
9          S. Shankar            Science Fiction Action         2018

   Budget (Crores)  BoxOffice (Crores)  Rating  Duration (minutes)  \
0             50.0               100.0     8.1                 224
1             50.0               100.0     7.9                 210
2             50.0               215.0     7.9                 184
3            250.0              1810.0     8.2                 171
4             50.0               423.0     6.4                 141
5            100.0               325.0     6.8                 156
6             70.0              2140.0     8.1                 161
7             50.0               250.0     7.5                 173
8             85.0               792.0     8.1                 153
9            550.0               800.0     6.9                 147

              LeadActor         LeadActress Language  \
0            Aamir Khan         Gracy Singh    Hindi
1        Shah Rukh Khan               Kajol    Hindi
2  Sushant Singh Rajput        Kiara Advani    Hindi
3               Prabhas      Anushka Shetty   Telugu
4        Shah Rukh Khan    Deepika Padukone    Hindi
5           Salman Khan        Katrina Kaif    Hindi
6            Aamir Khan  Fatima Sana Shaikh    Hindi
7                 Vijay      Keerthy Suresh    Tamil
8            Aamir Khan      Anushka Sharma    Hindi
9           Rajinikanth         Amy Jackson    Tamil

            ProductionCompany
0      Aamir Khan Productions
1          Dharma Productions
2            Fox Star Studios
3            Arka Media Works
4  Red Chillies Entertainment
5       Reel Life Productions
6      Aamir Khan Productions
7                Kalaignar TV
8          Vinod Chopra Films
9            Lyca Productions

In [78]:
df.to_csv("cleaned_movie_data.csv", index=False)
print("\nCleaned data saved to 'cleaned_movie_data.csv'")

Cleaned data saved to 'cleaned_movie_data.csv'

In [79]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [81]:
df.to_csv("cleaned_bollywood_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_bollywood_movies.csv'")

Cleaned data saved to 'cleaned_bollywood_movies.csv'

In [82]:
df['Language'] = df['Language'].astype(str).str.strip().str.lower()
df = df[df['Language'] == 'hindi'].reset_index(drop=True)

In [83]:
df.to_csv("cleaned_bollywood_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_bollywood_movies.csv'")

Cleaned data saved to 'cleaned_bollywood_movies.csv'

In [85]:

float_cols_to_int = ['ReleaseYear', 'Budget (Crores)', 'BoxOffice (Crores)', 'Duration (minutes)']

for col in float_cols_to_int:
    df[col] = df[col].astype(int)


print(df[float_cols_to_int].dtypes)

ReleaseYear           int64
Budget (Crores)       int64
BoxOffice (Crores)    int64
Duration (minutes)    int64
dtype: object

In [86]:
df.to_csv("cleaned_bollywood_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_bollywood_movies.csv'")

Cleaned data saved to 'cleaned_bollywood_movies.csv'

# Cleaning indian_movies.csv

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv("indian_movies (1).csv")

In [56]:
columns_to_fill = ['Budget (Crores)', 'BoxOffice (Crores)', 'Rating', 'Duration (minutes)']
for col in columns_to_fill:
    median_val = df[col].median()
    df[col] = df[col].fillna(median_val)

In [57]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [58]:
df.drop_duplicates(inplace=True)

In [59]:
df['budget_(crores)'] = pd.to_numeric(df['budget_(crores)'], errors='coerce')
df['boxoffice_(crores)'] = pd.to_numeric(df['boxoffice_(crores)'], errors='coerce')
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['duration_(minutes)'] = pd.to_numeric(df['duration_(minutes)'], errors='coerce')

In [60]:
text_columns = ['title', 'director', 'genre', 'leadactor', 'leadactress', 'productioncompany']
for col in text_columns:
    df[col] = df[col].str.strip()

In [61]:
print(df.head())

   unnamed:_0 movieid                       title  \
0           7  MOV008              Sarkar (Tamil)
1           9  MOV010                 2.0 (Tamil)
2          21  MOV022            K.G.F: Chapter 1
3          23  MOV024  Avengers: Endgame (Dubbed)
4          25  MOV026                    Pailwaan

                      director                   genre  releaseyear  \
0             A. R. Murugadoss         Action Thriller       2005.0
1                   S. Shankar  Science Fiction Action       2018.0
2               Prashanth Neel            Action Drama       2018.0
3  Anthony Russo, Joseph Russo               Superhero       2019.0
4                   S. Krishna           Sports Action       2019.0

   budget_(crores)  boxoffice_(crores)  rating  duration_(minutes)  \
0             25.0                47.5     7.5               173.0
1            550.0               800.0     6.9               147.0
2             50.0               250.0     7.9               156.0
3             25.0                47.5     8.4               181.0
4             30.0                55.0     6.8               156.0

           leadactor         leadactress  \
0              Vijay      Keerthy Suresh
1        Rajinikanth         Amy Jackson
2               Yash     Srinidhi Shetty
3  Robert Downey Jr.  Scarlett Johansson
4             Sudeep     Aakanksha Singh

                                     language    productioncompany
0                                       Tamil         Kalaignar TV
1                                       Tamil     Lyca Productions
2                                     Kannada        Hombale Films
3  English (Dubbed in Telugu, Kannada, Hindi)       Marvel Studios
4                                     Kannada  RRR Motion Pictures

In [62]:
df.drop(df.columns[0], axis=1, inplace=True)

In [63]:
df.to_csv("cleaned_indian_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_indian_movies.csv'")

Cleaned data saved to 'cleaned_indian_movies.csv'

In [100]:
# Assuming df is your DataFrame
print(df.columns.tolist())

['index', 'MovieID', 'Title', 'Director', 'Genre', 'ReleaseYear', 'Budget (Crores)', 'BoxOffice (Crores)', 'Rating', 'Duration (minutes)', 'LeadActor', 'LeadActress', 'Language', 'ProductionCompany']

In [101]:
df = pd.read_csv("cleaned_indian_movies.csv")

In [102]:
columns_to_convert = ['releaseyear', 'budget_(crores)', 'boxoffice_(crores)', 'duration_(minutes)']
df[columns_to_convert] = df[columns_to_convert].fillna(0).astype(int)

In [64]:
df['releaseyear'] = df['releaseyear'].fillna(2016.0)
print(df['releaseyear'])

0     2005.0
1     2018.0
2     2018.0
3     2019.0
4     2019.0
5     2019.0
6     2019.0
7     2019.0
8     2019.0
9     2019.0
10    2019.0
11    2020.0
12    2020.0
13    2020.0
14    2020.0
15    2018.0
16    2016.0
17    2016.0
Name: releaseyear, dtype: float64

In [99]:
# Assuming df is your DataFrame
print(df.columns.tolist())

['index', 'MovieID', 'Title', 'Director', 'Genre', 'ReleaseYear', 'Budget (Crores)', 'BoxOffice (Crores)', 'Rating', 'Duration (minutes)', 'LeadActor', 'LeadActress', 'Language', 'ProductionCompany']

In [103]:
df.to_csv("cleaned_indian_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_indian_movies.csv'")

Cleaned data saved to 'cleaned_indian_movies.csv'

# Cleaning tollywood_movies.csv

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("Downloads/Cleaned_movies_data/cleaned_tollywood_movies.csv")

In [46]:
df.loc[df['title'] == 'Baahubali 2: The Conclusion', 'releaseyear'] = 2017
df.loc[df['title'] == 'Sarileru Neekevvaru', 'releaseyear'] = 2018
print(df[['title', 'releaseyear']])

                         title  releaseyear
0  Baahubali 2: The Conclusion       2017.0
1      Bahubali: The Beginning       2015.0
2      Sye Raa Narasimha Reddy       2019.0
3                       Jersey       2019.0
4              Geetha Govindam       2018.0
5                 Dear Comrade       2019.0
6          Sarileru Neekevvaru       2018.0
7                     Bheeshma       2020.0

In [47]:
df.to_csv("cleaned_tollywood_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_tollywood_movies.csv'")

Cleaned data saved to 'cleaned_tollywood_movies.csv'

In [48]:
cols_to_convert = ['releaseyear', 'budget_crores', 'boxoffice_crores', 'duration_minutes']

for col in cols_to_convert:
    df[col] = df[col].astype(int)

df.dtypes

movieid               object
title                 object
director              object
genre                 object
releaseyear            int64
budget_crores          int64
boxoffice_crores       int64
rating               float64
duration_minutes       int64
leadactor             object
leadactress           object
language              object
productioncompany     object
dtype: object

In [49]:
df.to_csv("cleaned_tollywood_movies.csv", index=False)
print("\nCleaned data saved to 'cleaned_tollywood_movies.csv'")

Cleaned data saved to 'cleaned_tollywood_movies.csv'